.body{
    background-color: #ffebcd;
}
.logo{
    height: 2%;
} 
.name{
    background-color: #649af1;
    width: 100px;
    padding: 5px;
    color: #ffebcd;
    font-weight: bold;
    border-radius: 20px;
    border-style:double;
}
.navbar {
    background-color: #e22d2d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
  .navbar-content {
    display: flex;
    justify-content: space-between;
    background-color: red;
    align-items: center;
    /* padding: 10px 20px; */
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    border: double;
    border-radius: 50px;
    padding: 0;
  }
  .menu li {
    margin: 0 10px;
  }
  